*{
  margin:0;
  padding:0;
}
.header{
  height:10%;
  width:100%;
  background-color:black;
  display:flex;
}
.logo{
  width:25%;
  background-color:magenta;
  display:flex;
  }
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}
.logo a img{
  height:auto;
  width:auto;
}
.menu{
  width:75%;
  background-color:aqua;
  display:flex;
}
.menu .menubar{
  height:100%;
  width:100%;
}
.menu .menubar ul{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.menu .menubar ul li{
  list-style-type:none;
  padding-bottom:2.5%;
}
.menu .menubar ul li a{
  text-decoration:none;
  font-size:1.5vw;
  color:black;
  position:absolute;
}
.submenu{
  position:absolute;
  height:100%;
  width:100%;
}

  
  
  

  
