*{
  margin:0;
  padding:0;
}
.header{
  height:10%;
  width:100%;
  background-color:black;
  display:flex;
}
.logo{
  width:25%;
  background-color:magenta;
  display:flex;
  }
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}
.logo a img{
  height:auto;
  width:auto;
}
.menu{
  width:75%;
  background-color:aqua;
  display:flex;
}
.menu .menubar{
  height:100%;
  width:100%;
}
.menu .menubar ul{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.menu .menubar ul li{
  list-style:none;
  padding-bottom:3%;
}
.menu .menubar ul li a{
  text-decoration:none;
  font-size:1.5vw;
  color:black;
  position:absolute;
}
.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  height:auto;
  width: 120px;
  background-color:white;
  border:1px solid black;
  /* padding-left: 5px; */
  z-index: 10;
  top:10%;
  box-sizing:border-box;
  overflow:hidden;
}

.menu .menubar ul li .submenu li {
  list-style: none;
  padding: 5px 10px;
}

.menu .menubar ul li .submenu li a{
  color: black;
  font-size: 1vw;
  text-decoration: none;
  position: relative; 
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  display: block;
}

.menubar ul li:hover .submenu {
  display: block;
}
  
  


  
