

.firstDiv{
  display: flex;
  height:100%;
}

 .childDiv{
   width:50%;
   height:50%;
   color:white;
   background-color:red;
   border: 5px solid black;
 }
.childDiv:nth-of-type(2){
background-image: url("../webp.jpg");

}

@media (max-width:576px){
  .firstDiv{
    flex-direction:colon;
  }
  .childDiv{
    width:100;
  }
}
